@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<div class="text-center">
    <h1 class="display-4">Tiệm NET của Tú Sena</h1>
    <img src="~/SinhvienIT.webp" asp-append-version="true" alt="Ảnh nạp tiền" />

</div>
